{% extends "base.html" %}
{% block title %}OOP{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1">
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}" />
    {% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <title>OOP</title>

{% block content %}
<div class=".container">
    <div class="column side">

        <h2>Calculator Program Explained:</h2>
        <p>OOP</p>
        <p>
            <a href="https://github.com/ffahad30/calc2/tree/OOPprinciples">
                <button class="calltoaction">View the code</button>
            </a>
        </p>



        <p>
            <img style="float: center;" src="https://www.tutorialspoint.com/object_oriented_python/images/oops.jpg" alt="image" width="100%" height="300px" />


        </p>
    </div>
</div>

    <div class="column middle">
    <h1>Object Oriented Programming Principles</h1>
    <h2>What Are The Four Principles?</h2>
    <p>Encapsulation, Abstraction, Inheritance, Polymorphism</p>

        <p>
        <h2>
            Encapsulation
        </h2>
        <p>With encapsulation, a program has a few different objects which communicate with each other. It puts data and the methods that work on that data together in one place. The Calculator program demonstrates encapsulation because all of the calculator's methods and variables, like all the operation and history methods are in one class which is the Calculator class. They are all encapsulated and work together in the Calculator class.</p>
        </p>

        <p>
        <h2>
            Inheritance
        </h2>
        <p>In inheritance, one class inherits properties from another class which allows for reusability of a code so you don't have to repeat code anywhere. In the program, all the calculator's mathematical operations inherit value_a and value_b from the Calculation class so that they do not constantly have to be initialized and that code does not have to be repeated anywhere else in the program.</p>
        </p>

        <p>
        <h2>
            Polymorphism
        </h2>
        <p>In Polymorphism, the same function name is used for different types. For example, len() can be used on both a string and a list in the same program. It can be used to define methods in the child class that have the same name as the methods in the parent class and the child class can inherit the method from the parent class. In the program, get_result is used in the Addition, Subtraction, Multiplication, and Division classes and it is the same function name but it is used for all the different operations within the same program. </p>
        </p>

        <p>
        <h2>
            Abstraction
        </h2>
        <p>In abstraction, the user knows what they are doing but not how the work is being done due to abstraction which hides the internal implementations of a process or method from the user. The user ignores the details of a program and uses it as a whole rather than thinking about or knowing how each part of the program works. The Calculation and Calculator classes demonstrate abstraction because the user knows that they are doing mathematical operations but not that the function calculator runs mathematical functions using value_a and value_b, and clears the history, adds results to history, etc each time. An abstract class is a class in which abstract methods are defined. The calculation class is an abstract base class. An abstract method is a method with no implementation. </p>
        </p>


        <p>*View the full Calculator Program explained <a style="color: cornflowerblue;" href="https://github.com/ffahad30/calc2/tree/calc_explained">here</a>.*</p>
        <p>&copy; Copyright 2021 by <a href="https://github.com/ffahad30">Fizah Fahad</a></p>
    </div>

{% endblock %}
